/* Estilos para el input de archivo */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f8f9fa;
  border-radius: 4px;
  font-family: sans-serif;
  color: #333;
}

input[type="file"] {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 400px;
  width: 90%;
  transition: all 0.3s ease-in-out;
}

.modal-icon {
  font-size: 3em;
  margin-bottom: 10px;
}

/* Estilos para el modal de éxito */
.success-modal .modal-icon {
  color: #28a745;
}

.success-modal h2 {
  color: #28a745;
  margin-top: 0;
}

/* Estilos para el modal de error */
.error-modal {
  border: 2px solid #dc3545;
}

.error-modal .modal-icon {
  color: #dc3545;
}

.error-modal h2 {
  color: #dc3545;
  margin-top: 0;
}

.modal-content p {
  color: #555;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2em;
  cursor: pointer;
  color: #999;
}

.close-button:hover {
  color: #333;
}
.ticket-filter-buttons {
  margin: 20px 0;
  text-align: center;
}

.ticket-filter-buttons button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.3s ease;
}

.ticket-filter-buttons button:hover {
  background-color: #e0e0e0;
}

.ticket-filter-buttons button.active {
  background-color: #3498db;
  color: white;
  border-color: #3498db;
}