
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 15px 40px; 
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.logos {
    display: flex;
    align-items: center;
}

.logos img {
    height: 45px;
  }

.search-bar-container {
    flex-grow: 1; /* Permite que el contenedor de búsqueda ocupe el espacio disponible */
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.search-bar-container form {
    display: flex;
    width: 100%;
    max-width: 400px; /* Ancho máximo para la barra de búsqueda */
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
}

.search-input {
    border: none;
    padding: 10px 15px;
    flex-grow: 1;
    font-size: 1rem;
    outline: none;
}

.search-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    color: #555;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #ddd;
}


.navigation {
    display: flex;
    gap: 30px; 
}

.navigation a {
    text-decoration: none; 
    color: #444; 
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 0;
    position: relative;
}

.navigation a:hover {
    color: #1a73e8; 
}

.navigation div {
    padding: 15px 0;
    position: relative;
    border-right: 1px solid #ffffff; 
    padding-right: 30px;
}

