.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 900px;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.login-card {
  width: 350px;
  padding: 40px 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-header {
  margin-bottom: 20px;
}

.heart-logo {
  width: 80px;
  margin-bottom: 10px;
  
}

.login-header h1 {
  font-size: 1rem;
  color: #777;
  font-weight: normal;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-form label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
}

.login-form input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.login-button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #5b5bfa;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(76, 76, 255, 0.3);
}

.forgot-password-link {
  font-size: 0.8rem;
  color: #888;
  text-decoration: none;
  margin-top: 15px;
  align-self: center;
}

.login-footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: #888;
  gap: 10px;
}

.create-account-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #f06292;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(135deg, #f06292 0%, #ff86b0 100%);
  box-shadow: 0 4px 10px rgba(240, 98, 146, 0.3);
}

.error-message {
    color: #e53935; 
    font-size: 0.8rem;
    margin-top: -15px;
    margin-bottom: 10px;
}