#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.add-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px; /* Espacio debajo del botón */
  background-color: #28a745; /* Color verde */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #218838;
}